<form class="pure-form" action="/is-it-aws" method="GET">
  <fieldset>
    <input name="domain" placeholder="domain">
    <button type="submit" class="pure-button pure-button-primary">Send</button>
  </fieldset>
</form>
